<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DSGBLEManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65E62D8F1DC08DE800312F18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E62DA81DC08DE900312F18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E62DB31DC08DE900312F18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
